.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vH;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutSection > p {
    max-width: 850px;
    font-weight: 400;
    line-height: 27px;
}

.aboutSection > p > span {
    color: #d31208;
}

@media only screen and (max-width: 1350px) {
    .aboutSection {
        padding-right: 150px;
        padding-left: 250px;
    }
}

@media only screen and (max-width: 900px) {
    .aboutSection {
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media only screen and (max-width: 600px) {
   .aboutSection > p {
    font-size: 15px;
   }
     }