.artist_view {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
}

.artist_view > p {
    max-width: 300px;
    padding-bottom: 20px;
}


.artist_grid {
    display: flex;
    height: 100vh;
    padding-left: 200px;
}

.artist_images {
    max-width: 550px;
    max-height: 500px;
}

.artist_images {
    padding: 20px;
}


.art {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    min-height: 100vh ;
    height: auto;
    width: 100%;
}

.artistName {
    display: block;
    min-height: 60px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: black;
}

.artistName > h2 {
    display: flex;
    width: 500px;
    height: 80px;
    justify-content: left;
    padding-left: 100px;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 1350px) {
    .artist_grid {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .artist_images {
        max-width: 450px;
        max-height: 400px;
    }

    .artist_grid {
        padding-left: 0px;
        height: 100vH;
    }
}