.artist_view {
    display: flex;
    justify-content: center;
    min-width: 100vH;
    padding: 70px;
    max-height: 100vH;
    overflow: hidden;
    padding: 50px;
}

.artist_view > img {
    max-width: 600px;
    max-height: 500px;
}