.artist-list-view {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin: 4px;
    height: auto;
    padding-top: 550px;
    padding-bottom: 200px;
}

.artist_btn {
    margin: 0;
    padding-right: 2px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.artist_btn:hover {
    letter-spacing: 0.8px;
}

.strong_letter {
    font-size: 23px;
}

.list_names {
    padding-left: 4px;
}

@media only screen and (max-width: 600px) {
    .artist-list-view {
        display: block;
        margin-left: 100px;
    }

    .artist_btn:hover {
        letter-spacing: 0.4px;
    }
    }