.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    align-self: center;
    position: sticky;
    top: 500px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    margin-left: 160px;
    cursor: pointer;
}



@media only screen and (max-width: 900px) {
   button {
    margin-left: 120px;
    }
}

@media only screen and (max-width: 600px) {
    .navigation {
        flex-direction: row;
        position: relative;
        top: 50px;
        left: 100px;
    }

    button {
        margin-left: 40px;
    }
    }