
$color: white;
$backcolor: black;

@font-face {
  font-family: "ITC Edwardian Script";
  src: local("ITC Edwardian Script"),
   url("./fonts/edwardian-script-itc-regular.ttf") format("truetype");
  font-weight: bold;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anonymousCollection {
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    color: $color;
    background-color: $backcolor;
}
